{
  "openapi": "3.1.0",
  "info": {
    "title": "MyCase API v1 \u2014 merged",
    "version": "1.0",
    "description": "Auto-merged from per-resource spec files."
  },
  "servers": [
    {
      "url": "https://external-integrations.mycase.com"
    }
  ],
  "paths": {
    "/calls": {
      "get": {
        "summary": "Get Calls",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CallResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-calls",
        "description": "Get all firm calls viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "post": {
        "summary": "Create a Call",
        "operationId": "post-v1-calls",
        "responses": {
          "202": {
            "description": "Accepted"
          }
        },
        "description": "Create a call that will show up in the call log.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallRequest"
              }
            }
          }
        }
      }
    },
    "/calls/{id}": {
      "put": {
        "summary": "Update an Individual Call",
        "operationId": "put-v1-calls-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific call, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual Call",
        "operationId": "delete-v1-calls-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific call, based on the authorized user/firm privileges."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the call you want to view or update."
        }
      ]
    },
    "/case_roles": {
      "get": {
        "summary": "Get Case Roles",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CaseRoleResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-case-roles",
        "description": "Get all firm case roles viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "parameters": []
    },
    "/case_stages": {
      "parameters": [],
      "get": {
        "summary": "Get Case Stages",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CaseStageResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-case-stages",
        "description": "Get all firm case stages viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "post": {
        "summary": "Create a Case Stage",
        "operationId": "post-v1-case-stages",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseStageResponse"
                }
              }
            }
          }
        },
        "description": "Create a case stage.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseStageRequest"
              }
            }
          },
          "description": ""
        }
      }
    },
    "/case_stages/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case stage you want to view or update."
        }
      ],
      "put": {
        "summary": "Update an Individual Case Stage",
        "operationId": "put-v1-case-stages-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific case stage, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseStageRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual Case Stage",
        "operationId": "delete-v1-case-stages-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific case stage, based on the authorized user/firm privileges."
      }
    },
    "/cases": {
      "get": {
        "summary": "Get Cases",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/paginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/paginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CaseResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-cases",
        "description": "Get all firm cases viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          },
          {
            "$ref": "#/components/parameters/ClientFields"
          },
          {
            "$ref": "#/components/parameters/filterStatus"
          },
          {
            "$ref": "#/components/parameters/CustomFieldFields"
          }
        ]
      },
      "post": {
        "summary": "Create a Case",
        "operationId": "post-v1-cases",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/clients/{id}/cases": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the client you want to get cases for."
        }
      ],
      "get": {
        "summary": "Get All Cases for a Client",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/paginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/paginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CaseResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-clients-id-cases",
        "description": "Get all cases associated with a specific client.",
        "parameters": []
      }
    },
    "/cases/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to view or update."
        }
      ],
      "get": {
        "summary": "Get an Individual Case",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-cases-id",
        "description": "Allows you to view a specific firm case, based on the authorized user/firm privileges.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientFields"
          },
          {
            "$ref": "#/components/parameters/CustomFieldFields"
          }
        ]
      },
      "put": {
        "summary": "Update an Individual Case",
        "operationId": "put-v1-cases-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific firm case, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual Case",
        "operationId": "delete-v1-cases-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific case, based on the authorized user/firm privileges."
      }
    },
    "/cases/{id}/relationships/clients": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to add clients to."
        }
      ],
      "post": {
        "summary": "Create a Client Relationship for a Case",
        "operationId": "post-v1-cases-id-relationships-clients",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Create a client relationship for a specified case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientRelationshipRequest"
              }
            }
          }
        }
      }
    },
    "/cases/{id}/relationships/companies": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to add companies to."
        }
      ],
      "post": {
        "summary": "Create a Company Relationship for a Case",
        "operationId": "post-v1-cases-id-relationships-companies",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Create a company relationship for a specified case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRelationshipRequest"
              }
            }
          }
        }
      }
    },
    "/cases/{id}/relationships/staff": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to add staff to."
        }
      ],
      "post": {
        "summary": "Create a Staff Relationship for a Case",
        "operationId": "post-v1-cases-id-relationships-staff",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Create a staff relationship for a specified case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseStaffRelationshipRequest"
              }
            }
          }
        }
      }
    },
    "/clients": {
      "get": {
        "summary": "Get Clients (People)",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-clients",
        "description": "Get all firm clients (people) viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          },
          {
            "$ref": "#/components/parameters/FilterEmail"
          },
          {
            "$ref": "#/components/parameters/FilterFirstName"
          },
          {
            "$ref": "#/components/parameters/FilterLastName"
          },
          {
            "$ref": "#/components/parameters/FilterCellPhone"
          },
          {
            "$ref": "#/components/parameters/FilterWorkPhone"
          },
          {
            "$ref": "#/components/parameters/FilterHomePhone"
          }
        ]
      },
      "post": {
        "summary": "Create a Client  (Person)",
        "operationId": "post-v1-clients",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual client (person).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/clients/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the client (person) you want to view or update."
        }
      ],
      "get": {
        "summary": "Get an Individual Client  (Person)",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-clients-id",
        "description": "Allows you to view a specific client (person), based on the authorized user/firm privileges.",
        "parameters": []
      },
      "put": {
        "summary": "Update an Individual Client  (Person)",
        "operationId": "put-v1-clients-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific client (person), based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual Client  (Person)",
        "operationId": "delete-v1-clients-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific client (person), based on the authorized user/firm privileges."
      }
    },
    "/companies": {
      "get": {
        "summary": "Get Companies",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-companies",
        "description": "Get all firm companies viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          },
          {
            "$ref": "#/components/parameters/FilterEmail"
          },
          {
            "$ref": "#/components/parameters/FilterName"
          },
          {
            "$ref": "#/components/parameters/FilterMainPhone"
          },
          {
            "$ref": "#/components/parameters/FilterFaxPhone"
          }
        ]
      },
      "post": {
        "summary": "Create a Company",
        "operationId": "post-v1-companies",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual company.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/companies/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the company you want to view or update."
        }
      ],
      "get": {
        "summary": "Get an Individual Company",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-companies-id",
        "description": "Allows you to view a specific company, based on the authorized user/firm privileges.",
        "parameters": []
      },
      "put": {
        "summary": "Update an Individual Company",
        "operationId": "put-v1-companies-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific company, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual Company",
        "operationId": "delete-v1-companies-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific company, based on the authorized user/firm privileges."
      }
    },
    "/companies/{id}/relationships/clients": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the company you want to add clients to."
        }
      ],
      "post": {
        "summary": "Create a Client Relationship for a Company",
        "operationId": "post-v1-companies-id-relationships-clients",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Create a client relationship for a specified company.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clients": {
                    "type": "array",
                    "minItems": 1,
                    "description": "A list of clients to add to the company.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/custom_fields": {
      "get": {
        "summary": "Get Custom Fields",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-custom_fields",
        "description": "Get all firm custom fields viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "post": {
        "summary": "Create a Custom Field",
        "operationId": "post-v1-custom_fields",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual custom field.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/custom_fields/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the custom field you want to view or update."
        }
      ],
      "get": {
        "summary": "Get an Individual Custom Field",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-custom_fields-id",
        "description": "Allows you to view a specific custom field, based on the authorized user/firm privileges.",
        "parameters": []
      },
      "delete": {
        "summary": "Delete an Individual Custom Field",
        "operationId": "delete-v1-custom_fields-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific custom field, based on the authorized user/firm privileges."
      }
    },
    "/custom_fields/{id}/list_options": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the custom field you want to view or update."
        }
      ],
      "get": {
        "summary": "Get the List Options for a Custom Field",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldListOptionsResponse",
                    "x-stoplight": {
                      "id": "7vwc5you1vatp"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-custom_fields-id-list_options",
        "description": "Allows you to view a specific custom field's list options, based on the authorized user/firm privileges.",
        "parameters": []
      },
      "post": {
        "summary": "Add List Options to a Custom Field",
        "operationId": "post-v1-custom_fields-id-list_options",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldListOptionsResponse",
                    "x-stoplight": {
                      "id": "eocb70rdqq7pk"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Add list options to a custom field.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldListOptionsRequest"
              }
            }
          }
        }
      }
    },
    "/custom_fields/{id}/list_options/{key}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the custom field you want to view or update."
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "key",
          "in": "path",
          "required": true,
          "description": "The unique key identifier of the list option to update."
        }
      ],
      "put": {
        "summary": "Update a List Option for a Custom Field",
        "operationId": "put-v1-custom_fields-id-list_options-key",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "option_value": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "juhgqluudyu5u"
                    },
                    "description": "The new name for this list option."
                  }
                },
                "required": ["option_value"]
              }
            }
          }
        },
        "description": "Update the name of a specific list option on a custom field."
      },
      "delete": {
        "summary": "Delete a List Option for a Custom Field",
        "operationId": "delete-v1-custom_fields-id-list_options-key",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Delete a specific list option on a custom field."
      }
    },
    "/documents": {
      "get": {
        "summary": "Get Documents",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/paginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/paginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-documents",
        "description": "Get all firm documents viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "post": {
        "summary": "Create a Firm Document",
        "operationId": "post-v1-documents",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentPostResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual document not associated with a case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirmDocumentRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/cases/{id}/documents": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to get / add documents from / to."
        }
      ],
      "get": {
        "summary": "Get All Documents for a Case",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/paginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/paginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-cases-id-documents",
        "description": "Get all documents associated with a specific case.",
        "parameters": []
      },
      "post": {
        "summary": "Create a Document for a Case",
        "operationId": "post-v1-cases-id-documents",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentPostResponse"
                }
              }
            }
          }
        },
        "description": "Create a document for a specified case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentRequest"
              }
            }
          }
        }
      }
    },
    "/document_versions": {
      "get": {
        "summary": "Get all Firm Document Versions",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/paginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/paginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentVersionResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-document_versions",
        "description": "Get all firm document versions viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "parameters": []
    },
    "/documents/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the document you want to view or update."
        }
      ],
      "get": {
        "summary": "Get an Individual Document",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-documents-id",
        "description": "Allows you to view a specific document, based on the authorized user/firm privileges.",
        "parameters": []
      },
      "put": {
        "summary": "Update an Individual Document",
        "operationId": "put-v1-documents-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific document, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirmDocumentRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual Document",
        "operationId": "delete-v1-documents-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific document, based on the authorized user/firm privileges."
      }
    },
    "/documents/{id}/versions": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the document you want to get / add versions from / to."
        }
      ],
      "get": {
        "summary": "Get All Versions of a Document",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/paginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/paginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentVersionResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-documents-id-versions",
        "description": "Get all versions associated with a specific document.",
        "parameters": []
      },
      "post": {
        "summary": "Create a Version for a Document",
        "operationId": "post-v1-documents-id-versions",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentVersionPostResponse"
                }
              }
            }
          }
        },
        "description": "Create a version for a specified document."
      }
    },
    "/documents/{id}/data": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the document to download"
        }
      ],
      "get": {
        "summary": "Download a Document",
        "tags": [],
        "responses": {
          "302": {
            "description": "Found",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "Temporary URL to download document data (valid for 1 minute)"
              }
            }
          }
        },
        "operationId": "get-v1-documents-id-data",
        "description": "Download a specific document."
      }
    },
    "/documents/{id}/versions/{version_number}/data": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the document to download a version of."
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "version_number",
          "in": "path",
          "required": true,
          "description": "The number of the specific version of this document to download."
        }
      ],
      "get": {
        "summary": "Download a Document Version",
        "tags": [],
        "responses": {
          "302": {
            "description": "Found",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "Temporary URL to download document data (valid for 1 hour)"
              }
            }
          }
        },
        "operationId": "get-v1-documents-id-versions-version_number-data",
        "description": "Download a specific document version."
      }
    },
    "/documents/{id}/versions/{version_number}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the document you want to view or update."
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "version_number",
          "in": "path",
          "required": true,
          "description": "The number of the specific version of this document."
        }
      ],
      "delete": {
        "summary": "Delete an Individual Document Version",
        "operationId": "delete-v1-documents-id-versions-version_number",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific version of a document, based on the authorized user/firm privileges."
      }
    },
    "/events": {
      "get": {
        "summary": "Get Events",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-events",
        "description": "Get all firm events viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "post": {
        "summary": "Create an Event",
        "operationId": "post-v1-events",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/events/{id}": {
      "put": {
        "summary": "Update an Individual Event",
        "operationId": "put-v1-events-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific event, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual Event",
        "operationId": "delete-v1-events-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific event, based on the authorized user/firm privileges."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the event you want to view or update."
        }
      ]
    },
    "/events/{id}/relationships/staff": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the event you want to add staff to."
        }
      ],
      "post": {
        "summary": "Create a Staff Relationship for an Event",
        "operationId": "post-v1-events-id-relationships-staff",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Create a staff relationship for a specified event.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventStaffRelationshipRequest"
              }
            }
          }
        }
      }
    },
    "/expenses": {
      "get": {
        "summary": "Get Expenses",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExpenseResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-expenses",
        "description": "Get all firm expenses viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "post": {
        "summary": "Create an Expense",
        "operationId": "post-v1-expenses",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual expense.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/expenses/{id}": {
      "get": {
        "summary": "Get an Individual Expense",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-expenses-id",
        "description": "Allows you to view a specific expense, based on the authorized user/firm privileges.",
        "parameters": []
      },
      "delete": {
        "summary": "Delete an Individual Expense",
        "operationId": "delete-v1-expenses-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific expense, based on the authorized user/firm privileges."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the expense you want to view or update."
        }
      ]
    },
    "/firm": {
      "parameters": [],
      "get": {
        "summary": "Get the Firm of the Current Authorized User",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirmResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-firm",
        "description": "Allows you to view the firm of the current authorized user.",
        "parameters": []
      }
    },
    "/folders/{id}/documents": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the folder you want to get / add documents from / to."
        }
      ],
      "get": {
        "summary": "Get Documents of a Folder",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/paginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/paginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-folders-id-documents",
        "description": "Get the first level of Documents for this Folder",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ]
      }
    },
    "/folders/{id}/subfolders": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the folder you want to get subfolders of."
        }
      ],
      "get": {
        "summary": "Get Subfolders of a Folder",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/paginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/paginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FolderResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-folders-id-subfolders",
        "description": "Get the first level of Subfolders for this Folder",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ]
      }
    },
    "/cases/{id}/folder": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want the document folder for."
        }
      ],
      "get": {
        "summary": "Get Case Documents Folder",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-cases-id-folder",
        "description": "Get the folder for a case that contains all of the associated case documents and subfolders."
      }
    },
    "/cases/{id}/subfolders": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to add subfolders to."
        }
      ],
      "post": {
        "summary": "Create Subfolders for a Case",
        "operationId": "post-v1-cases-id-subfolders",
        "description": "Create subfolders for a specified case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice_payments": {
      "get": {
        "summary": "Get Invoice Payments",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoicePaymentResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-invoice_payments",
        "description": "Get all firm invoice payments viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterPaymentStatus"
          },
          {
            "$ref": "#/components/parameters/FilterPayable"
          }
        ]
      },
      "parameters": []
    },
    "/invoices": {
      "get": {
        "summary": "Get Invoices",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-invoices",
        "description": "Get firm invoices viewable by the authorized user. By default, only invoices with \"Online Payments Enabled\" will be returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          },
          {
            "title": "OnlyAllowedOnlinePayments",
            "name": "only_allowed_online_payments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": "true",
              "example": "?only_allowed_online_payments=true"
            },
            "description": "Whether or not to exclude invoices that do not allow online payments. Default is true."
          }
        ]
      },
      "parameters": []
    },
    "/invoices/{id}": {
      "delete": {
        "summary": "Delete an Individual Invoice",
        "operationId": "delete-v1-invoices-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific invoice, based on the authorized user/firm privileges."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the invoice you want to view or update."
        }
      ]
    },
    "/invoices/{id}/payments": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the invoice to record a payment for."
        }
      ],
      "post": {
        "summary": "Record a Payment on an Invoice",
        "operationId": "post-v1-invoices-id-record-payment",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicePaymentResponse"
                }
              }
            }
          }
        },
        "description": "Record an individual payment on an invoice.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoicePaymentRequest"
              }
            }
          }
        }
      }
    },
    "/leads": {
      "get": {
        "summary": "Get Leads",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeadResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-leads",
        "description": "Get all firm leads viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          },
          {
            "$ref": "#/components/parameters/FilterEmail"
          },
          {
            "$ref": "#/components/parameters/FilterFirstName"
          },
          {
            "$ref": "#/components/parameters/FilterLastName"
          },
          {
            "$ref": "#/components/parameters/FilterCellPhone"
          },
          {
            "$ref": "#/components/parameters/FilterWorkPhone"
          },
          {
            "$ref": "#/components/parameters/FilterHomePhone"
          }
        ]
      },
      "post": {
        "summary": "Create a Lead",
        "operationId": "post-v1-leads",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual lead.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/leads/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the lead you want to view or update."
        }
      ],
      "get": {
        "summary": "Get an Individual Lead",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-leads-id",
        "description": "Allows you to view a specific lead, based on the authorized user/firm privileges.",
        "parameters": []
      },
      "put": {
        "summary": "Update an Individual Lead",
        "operationId": "put-v1-leads-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific lead, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          }
        }
      }
    },
    "/locations": {
      "parameters": [],
      "get": {
        "summary": "Get Locations",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-locations",
        "description": "Get all firm locations viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "post": {
        "summary": "Create a Location",
        "operationId": "post-v1-locations",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          }
        },
        "description": "Create a location.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationRequest"
              }
            }
          },
          "description": ""
        }
      }
    },
    "/locations/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the location you want to view or update."
        }
      ],
      "put": {
        "summary": "Update an Individual Location",
        "operationId": "put-v1-locations-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific location, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual Location",
        "operationId": "delete-v1-locations-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific location, based on the authorized user/firm privileges."
      }
    },
    "/message_threads": {
      "post": {
        "summary": "Create a Message Thread",
        "operationId": "post-v1-message-threads",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageThreadResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual message thread.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageThreadRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/cases/{id}/message_threads": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to create a message thread for."
        }
      ],
      "post": {
        "summary": "Create a Message Thread for a Case",
        "operationId": "post-v1-cases-id-message-threads",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageThreadResponse"
                }
              }
            }
          }
        },
        "description": "Create a message thread for a specified case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageThreadRequest"
              }
            }
          },
          "description": ""
        }
      }
    },
    "/clients/{id}/message_threads": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the client you want to get message threads for."
        }
      ],
      "get": {
        "summary": "Get All Message Threads for a Client",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MessageThreadResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-clients-id-message-threads",
        "description": "Get all message threads associated with a specific client.",
        "parameters": []
      }
    },
    "/message_threads/{id}/messages": {
      "post": {
        "summary": "Create a Message on a Message Thread",
        "operationId": "post-v1-message-threads-messages",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual message on a message thread.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The ID of the message thread to create a message for."
        }
      ]
    },
    "/notes/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the note you want to view or update."
        }
      ],
      "get": {
        "summary": "Get an Individual Note",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-notes-id",
        "description": "Allows you to view a specific note, based on the authorized user/firm privileges.",
        "parameters": []
      },
      "put": {
        "summary": "Update an Individual Note",
        "operationId": "put-v1-notes-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific note, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual Note",
        "operationId": "delete-v1-notes-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific note, based on the authorized user/firm privileges."
      }
    },
    "/cases/{id}/notes": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to get or create notes for."
        }
      ],
      "get": {
        "summary": "Get All Notes for a Case",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-cases-id-notes",
        "description": "Get all notes associated with a specific case.",
        "parameters": []
      },
      "post": {
        "summary": "Create a Note for a Case",
        "operationId": "post-v1-cases-id-notes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteResponse"
                }
              }
            }
          }
        },
        "description": "Create a note for a specified case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteRequest"
              }
            }
          }
        }
      }
    },
    "/clients/{id}/notes": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the client you want to get or create notes for."
        }
      ],
      "get": {
        "summary": "Get All Notes for a Client",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-clients-id-notes",
        "description": "Get all notes associated with a specific client.",
        "parameters": []
      },
      "post": {
        "summary": "Create a Note for a Client",
        "operationId": "post-v1-clients-id-notes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteResponse"
                }
              }
            }
          }
        },
        "description": "Create a note for a specified client.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteRequest"
              }
            }
          }
        }
      }
    },
    "/companies/{id}/notes": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the company you want to get or create notes for."
        }
      ],
      "post": {
        "summary": "Create a Note for a Company",
        "operationId": "post-v1-companies-id-notes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteResponse"
                }
              }
            }
          }
        },
        "description": "Create a note for a specified company.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteRequest"
              }
            }
          }
        }
      }
    },
    "/people_groups": {
      "parameters": [],
      "get": {
        "summary": "Get People Groups",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PeopleGroupResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-people-groups",
        "description": "Get all firm people groups viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "post": {
        "summary": "Create a People Group",
        "operationId": "post-v1-people-groups",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleGroupResponse"
                }
              }
            }
          }
        },
        "description": "Create a people group.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PeopleGroupRequest"
              }
            }
          },
          "description": ""
        }
      }
    },
    "/people_groups/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the people group you want to view or update."
        }
      ],
      "put": {
        "summary": "Update an Individual People Group",
        "operationId": "put-v1-people-groups-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific people group, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PeopleGroupRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual People Group",
        "operationId": "delete-v1-people-groups-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific people group, based on the authorized user/firm privileges."
      }
    },
    "/practice_areas": {
      "parameters": [],
      "get": {
        "summary": "Get Practice Areas",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PracticeAreaResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-practice-areas",
        "description": "Get all firm practice areas viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "post": {
        "summary": "Create a Practice Area",
        "operationId": "post-v1-practice-areas",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PracticeAreaResponse"
                }
              }
            }
          }
        },
        "description": "Create a practice area.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PracticeAreaRequest"
              }
            }
          },
          "description": ""
        }
      }
    },
    "/practice_areas/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the practice area you want to view or update."
        }
      ],
      "put": {
        "summary": "Update an Individual Practice Area",
        "operationId": "put-v1-practice-areas-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific practice area, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PracticeAreaRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual Practice Area",
        "operationId": "delete-v1-practice-areas-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific practice area, based on the authorized user/firm privileges."
      }
    },
    "/referral_sources": {
      "parameters": [],
      "get": {
        "summary": "Get Referral Sources",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReferralSourceResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-referral-sources",
        "description": "Get all firm referral sources viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "post": {
        "summary": "Create a Referral Source",
        "operationId": "post-v1-referral-sources",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralSourceResponse"
                }
              }
            }
          }
        },
        "description": "Create a referral source.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferralSourceRequest"
              }
            }
          },
          "description": ""
        }
      }
    },
    "/staff": {
      "get": {
        "summary": "Get all Staff",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StaffResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-staff",
        "description": "Get all firm staff viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          },
          {
            "$ref": "#/components/parameters/filterStatus"
          }
        ]
      },
      "parameters": []
    },
    "/staff/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the lead you want to view or update."
        }
      ],
      "get": {
        "summary": "Get an Individual Staff",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-staff-id",
        "description": "Allows you to view a specific staff member, based on the authorized user/firm privileges.",
        "parameters": []
      }
    },
    "/me": {
      "parameters": [],
      "get": {
        "summary": "Get the Current Authorized User",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-me",
        "description": "Allows you to view the current authorized user.",
        "parameters": []
      }
    },
    "/tasks": {
      "get": {
        "summary": "Get Tasks",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaskResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-tasks",
        "description": "Get all firm tasks viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "post": {
        "summary": "Create a Task",
        "operationId": "post-v1-tasks",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual task.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/tasks/{id}": {
      "put": {
        "summary": "Update an Individual Task",
        "operationId": "put-v1-tasks-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific task, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual Task",
        "operationId": "delete-v1-tasks-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific task, based on the authorized user/firm privileges."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the task you want to view or update."
        }
      ]
    },
    "/tasks/{id}/relationships/staff": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the task you want to add staff to."
        }
      ],
      "post": {
        "summary": "Create a Staff Relationship for a Task",
        "operationId": "post-v1-tasks-id-relationships-staff",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Create a staff relationship for a specified task.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskStaffRelationshipRequest"
              }
            }
          }
        }
      }
    },
    "/time_entries": {
      "get": {
        "summary": "Get Time Entries",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeEntryResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-timeentries",
        "description": "Get all firm time entries viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "post": {
        "summary": "Create a Time Entry",
        "operationId": "post-v1-timeentries",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeEntryResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual time entry.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeEntryRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/time_entries/{id}": {
      "get": {
        "summary": "Get an Individual Time Entry",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeEntryResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-timeentries-id",
        "description": "Allows you to view a specific time entry, based on the authorized user/firm privileges.",
        "parameters": []
      },
      "delete": {
        "summary": "Delete an Individual Time Entry",
        "operationId": "delete-v1-time-entries-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific time entry, based on the authorized user/firm privileges."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the expense you want to view or update."
        }
      ]
    },
    "/webhooks/subscriptions": {
      "parameters": [],
      "get": {
        "summary": "Get Webhook Subscriptions",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-webhooks-subscriptions",
        "description": "Get all current webhook subscriptions.",
        "parameters": []
      },
      "post": {
        "summary": "Create a Webhook Subscription",
        "operationId": "post-v1-webhooks-subscriptions",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          }
        },
        "description": "Create a webhook subscription.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          },
          "description": ""
        }
      }
    },
    "/webhooks/subscriptions/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the webhook subscription to cancel."
        }
      ],
      "delete": {
        "summary": "Cancel a Webhook Subscription",
        "operationId": "delete-v1-webhooks-subscriptions-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to cancel a specific webhook subscription."
      }
    }
  },
  "components": {
    "schemas": {
      "CallRequest": {
        "title": "CallRequest",
        "x-stoplight": {
          "id": "lxiy4j0k7lu2b"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "called_at": {
            "description": "An ISO 8601 timestamp of when the call happened.",
            "type": "string"
          },
          "caller_phone_number": {
            "type": "string",
            "description": "The caller's phone number."
          },
          "call_for": {
            "type": "object",
            "description": "The staff member that this call is associated with.",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "message": {
            "type": "string",
            "description": "A description of the call."
          },
          "caller_name": {
            "type": "string",
            "description": "The caller's name. This field is mutually exclusive with fields `client` and `lead`. It is required to provide only one of the three."
          },
          "client": {
            "type": "object",
            "description": "The client that this call is associated with. This field is mutually exclusive with fields `caller_name` and `lead`. It is required to provide only one of the three.",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "lead": {
            "type": "object",
            "description": "The lead that this call is associated with. This field is mutually exclusive with fields `client` and `caller_name`. It is required to provide only one of the three.",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "call_type": {
            "type": "string",
            "description": "One of \"incoming\" or \"outgoing\". If no call type is added, we default to incoming."
          },
          "resolved": {
            "type": "boolean",
            "description": "Whether or not this call should show as resolved. Default is false."
          }
        },
        "required": [
          "called_at",
          "caller_phone_number",
          "call_for",
          "message",
          "caller_name",
          "client",
          "lead"
        ]
      },
      "CallResponse": {
        "title": "CallRequest",
        "x-stoplight": {
          "id": "tgybk9jn65u3i"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "id": {
            "type": "number",
            "description": "A unique identifier for the call."
          },
          "called_at": {
            "description": "An ISO 8601 timestamp of when the call happened.",
            "type": "string"
          },
          "caller_phone_number": {
            "type": "string",
            "description": "The caller's phone number."
          },
          "call_for": {
            "type": "object",
            "description": "The staff member that this call is associated with.",
            "properties": {
              "id": {
                "type": "integer"
              }
[...]
