{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "hbnd5ugqby7hf"
  },
  "info": {
    "title": "Cases",
    "version": "1.0",
    "description": "Cases API",
    "contact": {
      "name": "MyCase"
    }
  },
  "servers": [
    {
      "url": "https://external-integrations.mycase.com"
    }
  ],
  "paths": {
    "/v1/cases": {
      "get": {
        "summary": "Get Cases",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/paginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/paginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CaseResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-cases",
        "description": "Get all firm cases viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          },
          {
            "$ref": "#/components/parameters/ClientFields"
          },
          {
            "$ref": "#/components/parameters/filterStatus"
          },
          {
            "$ref": "#/components/parameters/CustomFieldFields"
          }
        ]
      },
      "post": {
        "summary": "Create a Case",
        "operationId": "post-v1-cases",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/v1/clients/{id}/cases": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the client you want to get cases for."
        }
      ],
      "get": {
        "summary": "Get All Cases for a Client",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/paginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/paginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CaseResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-clients-id-cases",
        "description": "Get all cases associated with a specific client.",
        "parameters": []
      }
    },
    "/v1/cases/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to view or update."
        }
      ],
      "get": {
        "summary": "Get an Individual Case",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-cases-id",
        "description": "Allows you to view a specific firm case, based on the authorized user/firm privileges.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientFields"
          },
          {
            "$ref": "#/components/parameters/CustomFieldFields"
          }
        ]
      },
      "put": {
        "summary": "Update an Individual Case",
        "operationId": "put-v1-cases-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific firm case, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual Case",
        "operationId": "delete-v1-cases-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific case, based on the authorized user/firm privileges."
      }
    },
    "/v1/cases/{id}/relationships/clients": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to add clients to."
        }
      ],
      "post": {
        "summary": "Create a Client Relationship for a Case",
        "operationId": "post-v1-cases-id-relationships-clients",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Create a client relationship for a specified case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientRelationshipRequest"
              }
            }
          }
        }
      }
    },
    "/v1/cases/{id}/relationships/companies": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to add companies to."
        }
      ],
      "post": {
        "summary": "Create a Company Relationship for a Case",
        "operationId": "post-v1-cases-id-relationships-companies",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Create a company relationship for a specified case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRelationshipRequest"
              }
            }
          }
        }
      }
    },
    "/v1/cases/{id}/relationships/staff": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to add staff to."
        }
      ],
      "post": {
        "summary": "Create a Staff Relationship for a Case",
        "operationId": "post-v1-cases-id-relationships-staff",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Create a staff relationship for a specified case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseStaffRelationshipRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddressNestedResponse": {
        "title": "AddressNestedResponse",
        "x-stoplight": {
          "id": "4behikc37n07n"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "CaseRequest": {
        "title": "CaseRequest",
        "x-stoplight": {
          "id": "qkhjomq1dlzni"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the case. The case name gets validated against our system so it must be unique."
          },
          "case_number": {
            "type": "string",
            "description": "An identifier the firm would like to use for this case. It is recommended the intentifier be unique but is not required. "
          },
          "opened_date": {
            "type": "string",
            "description": "The date the case was created/opened, must be in ISO-8601 date format."
          },
          "case_stage": {
            "type": "string",
            "description": "The stage the case is currently in. It must match the name of the stage in the mycase system (not case sensitive), if it does not match it will default to blank. "
          },
          "practice_area": {
            "type": "string",
            "description": "The practice area for this case. Practice area must match what is in the mycase system (not case sensitive), if it does not, we default to blank. "
          },
          "description": {
            "type": "string",
            "description": "A description for the case. "
          },
          "sol_date": {
            "type": "string",
            "description": "The statue of limitations date for the case, must be in ISO-8601 date (do not include ISO time). "
          },
          "status": {
            "type": "string",
            "description": "The status of the case. One of `open` or `closed`."
          },
          "outstanding_balance": {
            "type": "number",
            "description": "The outstanding balance of this case."
          },
          "billing_contact": {
            "type": "object",
            "description": "The billing contact for this case.",
            "properties": {
              "id": {
                "type": "integer",
                "description": "The ID of the client or company to assign as the billing contact for this case."
              }
            }
          },
          "contacts": {
            "description": "[DEPRECATED] This field has been replaced by the `clients` field for consistency. Please use the `clients` field instead. Use of both fields will result in an error.",
            "deprecated": true
          },
          "clients": {
            "type": "array",
            "description": "Any clients you want associated to the case.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "The ID of the client to associate with the case."
                }
              }
            }
          },
          "companies": {
            "type": "array",
            "description": "Any companies you want associated to the case.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "The ID of the company to associate with the case."
                }
              }
            }
          },
          "staff": {
            "type": "array",
            "description": "Any staff members you would like associated with the case.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "lead_lawyer": {
                  "type": "boolean",
                  "description": "A boolean specifying if the staff member associated to this case is the lead lawyer."
                },
                "originating_lawyer": {
                  "type": "boolean",
                  "description": "A boolean specifying if the staff member associated to this case is the originating lawyer."
                }
              }
            }
          },
          "custom_field_values": {
            "type": "array",
            "description": "Specify values for custom fields that have `parent_type` of `case`.",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValueRequest"
            }
          }
        },
        "required": ["name"]
      },
      "CaseResponse": {
        "title": "CaseResponse",
        "type": "object",
        "x-internal": false,
        "properties": {
          "id": {
            "type": "number",
            "description": "A unique identifier for the case."
          },
          "name": {
            "type": "string",
            "description": "\nName of the case."
          },
          "case_number": {
            "type": ["string", "null"],
            "description": "The case number of the case."
          },
          "description": {
            "type": "string",
            "description": "The description of the case."
          },
          "opened_date": {
            "type": ["string", "null"],
            "description": "The date the case was opened in ISO 8601 date format."
          },
          "closed_date": {
            "type": ["string", "null"],
            "description": "The date the case was closed in ISO 8601 date format."
          },
          "sol_date": {
            "type": ["string", "null"],
            "description": "The statue of limitations date for the case  in ISO 8601 date format."
          },
          "practice_area": {
            "type": ["string", "null"],
            "description": "The case practice area, as defined in MyCase. "
          },
          "case_stage": {
            "type": ["string", "null"],
            "description": "The stage the case is currently in, as defined in MyCase."
          },
          "status": {
            "type": "string",
            "description": "The status of the case. One of `open` or `closed`."
          },
          "outstanding_balance": {
            "type": "number",
            "description": "The outstanding balance of this case."
          },
          "billing_contact": {
            "type": "object",
            "description": "The billing contact for this case.",
            "properties": {
              "id": {
                "type": "integer",
                "description": "The ID of the client or company assigned as the billing contact for this case."
              }
            }
          },
          "billing_type": {
            "type": "string",
            "description": "The billing method for this case. One of `\"\" | \"hourly\" | \"contingency\" | \"flat\" | \"mixed\" | \"pro_bono\"`."
          },
          "contacts": {
            "description": "[DEPRECATED] This field has been replaced by the `clients` field for consistency. Please use the `clients` field instead. Use of both fields will result in an error.",
            "deprecated": true
          },
          "clients": {
            "description": "Any clients associated with the case. By default, each resource will only be returned with an `id` field. To specify more fields to be returned, please see the `field` query parameters.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClientNestedResponse"
            }
          },
          "companies": {
            "description": "Any companies associated with the case.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyNestedResponse"
            }
          },
          "staff": {
            "type": "array",
            "description": "Any firm members associated to the case.",
            "items": {
              "$ref": "#/components/schemas/StaffNestedResponse"
            }
          },
          "custom_field_values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValueResponse"
            }
          },
          "office": {
            "type": "object",
            "description": "The office associated to the case.",
            "properties": {
              "id": {
                "type": "integer",
                "description": "The ID of the office."
              },
              "name": {
                "type": "string",
                "description": "The name of the office."
              },
              "fax_phone": {
                "type": "string",
                "description": "The fax phone number of the office."
              },
              "main_phone": {
                "type": "string",
                "description": "The main phone number of the office."
              },
              "address": {
                "$ref": "#/components/schemas/AddressNestedResponse"
              },
              "updated_at": {
                "type": "string",
                "description": "The date the office was updated in ISO 8601 date/time format."
              },
              "created_at": {
                "type": "string",
                "description": "The date the office was created in ISO 8601 date/time format."
              }
            }
          },
          "updated_at": {
            "type": "string",
            "description": "The date the case was updated in ISO 8601 date/time format. "
          },
          "created_at": {
            "type": "string",
            "description": "The date the case was created in ISO 8601 date/time format. "
          }
        }
      },
      "CaseStaffRelationshipRequest": {
        "title": "CaseStaffRelationshipRequest",
        "x-stoplight": {
          "id": "ij11xamstxcba"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "staff": {
            "type": "array",
            "description": "A list of staff to add to the case.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "lead_lawyer": {
                  "type": "boolean",
                  "description": "A boolean specifying if the staff member associated to this case is the lead lawyer."
                },
                "originating_lawyer": {
                  "type": "boolean",
                  "description": "A boolean specifying if the staff member associated to this case is the originating lawyer."
                }
              },
              "required": ["id"]
            }
          }
        }
      },
      "ClientNestedResponse": {
        "title": "ClientNestedResponse",
        "x-stoplight": {
          "id": "00cef76194e3b"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "middle_initial": {
            "type": "string",
            "description": "[DEPRECATED] This field has been replaced by the `middle_name` field for consistency. Please use the `middle_name` field instead. Use of both fields will result in an error.",
            "deprecated": true
          },
          "middle_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "cell_phone_number": {
            "type": "string"
          },
          "work_phone_number": {
            "type": "string"
          },
          "home_phone_number": {
            "type": "string"
          },
          "fax_phone_number": {
            "type": "string"
          },
          "contact_group": {
            "type": "string",
            "description": "The client's contact group."
          },
          "birthdate": {
            "type": "string",
            "description": "The clients date of birth in ISO-8601 date format."
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        }
      },
      "ClientRelationshipRequest": {
        "title": "ClientRelationshipRequest",
        "x-stoplight": {
          "id": "6mpuf0ioeasku"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "clients": {
            "type": "array",
            "description": "A list of clients to add to the case.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "role": {
                  "type": "string",
                  "description": "The case role for this client on this case. If this matches a case role the firm already has created, that role will be used. If this does not match any case roles of the firm, a new case role will be created and that role will be used. (case insensitive)"
                }
              }
            }
          }
        }
      },
      "CompanyNestedResponse": {
        "title": "CompanyNestedResponse",
        "x-stoplight": {
          "id": "nm7fhrr97rhbc"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "id": {
            "description": "The ID of the company.",
            "type": "integer"
          }
        }
      },
      "CompanyRelationshipRequest": {
        "title": "CompanyRelationshipRequest",
        "x-stoplight": {
          "id": "ckx1oj07k7q1y"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "companies": {
            "type": "array",
            "description": "A list of companies to add to the case.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "role": {
                  "type": "string",
                  "description": "The case role for this company on this case. If this matches a case role the firm already has created, that role will be used. If this does not match any case roles of the firm, a new case role will be created and that role will be used. (case insensitive)"
                }
              }
            }
          }
        }
      },
      "CustomFieldValueRequest": {
        "title": "CustomFieldValueRequest",
        "x-stoplight": {
          "id": "ro159fml6kbba"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "custom_field": {
            "type": "object",
            "description": "The custom field that this value is associated with.",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "value": {
            "description": "The value of this custom field.",
            "type": ["string", "number", "boolean"]
          }
        },
        "required": ["custom_field", "value"]
      },
      "CustomFieldValueResponse": {
        "title": "CustomFieldValueResponse",
        "x-stoplight": {
          "id": "dj7cxrww1ic2a"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "custom_field": {
            "type": "object",
            "description": "The custom field that this value is associated with. By default, this object will only be returned with an `id` field. To specify more fields to be returned, please see the `field` query parameters.",
            "properties": {
              "id": {
                "type": "integer"
              },
              "field_type": {
                "type": "string",
                "description": "The field type of the Custom Field. One of `short_text | long_text | numeric | boolean | date | list | currency`."
              }
            }
          },
          "value": {
            "description": "The value of this custom field.",
            "type": ["string", "number", "boolean"]
          },
          "created_at": {
            "type": "string",
            "description": "An ISO 8601 timestamp of when the Custom Field value was created."
          },
          "updated_at": {
            "type": "string",
            "description": "An ISO 8601 timestamp of when the Custom Field value was last updated."
          }
        }
      },
      "StaffNestedResponse": {
        "title": "StaffNestedResponse",
        "x-stoplight": {
          "id": "7p11ot79x8anz"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "id": {
            "type": "number",
            "description": "The ID of the staff member."
          },
          "lead_lawyer": {
            "type": "boolean",
            "description": "A boolean that lets you know if the staff member associated to this case is the lead lawyer. This field is not required on a case."
          },
          "originating_lawyer": {
            "type": "boolean",
            "description": "A boolean that lets you know if the staff member associated to this case is the originating lawyer. This field is not required on a case."
          },
          "case_rate": {
            "type": ["string", "null"],
            "x-stoplight": {
              "id": "3nea66wv3uvwf"
            },
            "description": "This staff member's rate specific to this case."
          }
        }
      }
    },
    "parameters": {
      "filterStatus": {
        "name": "filter[status]",
        "in": "query",
        "required": false,
        "description": "The ability to filter on case status of \"open\" or \"closed\".",
        "schema": {
          "type": "string",
          "example": "?filter[status]=closed"
        }
      },
      "ClientFields": {
        "title": "ClientFieldsParam",
        "name": "field[client]",
        "in": "query",
        "required": false,
        "description": "A comma separated list of fields to be included on each of the clients in the response.",
        "schema": {
          "type": "array",
          "example": "?field[client]=id,first_name,last_name"
        }
      },
      "CustomFieldFields": {
        "title": "CustomFieldFieldsParam",
        "name": "field[custom_field]",
        "in": "query",
        "required": false,
        "description": "A comma separated list of fields to be included on each of the custom fields in the response.",
        "schema": {
          "type": "array",
          "example": "?field[custom_field]=id,field_type"
        }
      },
      "FilterUpdatedAfter": {
        "title": "FilterUpdatedAfterParam",
        "name": "filter[updated_after]",
        "in": "query",
        "required": false,
        "description": "Filters the response to return only resources that are created or updated after a specified date/time. ISO 8610 date format. Results are inclusive of the date/time entered. Can include time but does not need to.",
        "schema": {
          "type": "string",
          "example": "?filter[updated_after]=2022-03-17T21:00:00Z"
        }
      },
      "PageSize": {
        "title": "PageSizeParam",
        "name": "page_size",
        "in": "query",
        "required": false,
        "schema": {
          "type": "number",
          "default": "25",
          "example": "?page_size=100",
          "maximum": 1000,
          "minimum": 1
        },
        "description": "The ability to specify the number of resources that are returned per response page."
      }
    },
    "headers": {
      "paginationLink": {
        "description": "If there is another page of results, we provides you with the cursor to the next page using `page_token`. Please reference our pagination documentation for more info.",
        "schema": {
          "type": "string"
        }
      },
      "paginationCount": {
        "description": "The total number of results.",
        "schema": {
          "type": "number"
        }
      }
    }
  }
}
