{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "h7xra688o4yct"
  },
  "info": {
    "title": "Message Threads",
    "version": "1.0",
    "description": "Message Threads API",
    "contact": {
      "name": "MyCase"
    }
  },
  "servers": [
    {
      "url": "https://external-integrations.mycase.com"
    }
  ],
  "paths": {
    "/v1/message_threads": {
      "post": {
        "summary": "Create a Message Thread",
        "operationId": "post-v1-message-threads",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageThreadResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual message thread.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageThreadRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/v1/cases/{id}/message_threads": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to create a message thread for."
        }
      ],
      "post": {
        "summary": "Create a Message Thread for a Case",
        "operationId": "post-v1-cases-id-message-threads",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageThreadResponse"
                }
              }
            }
          }
        },
        "description": "Create a message thread for a specified case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageThreadRequest"
              }
            }
          },
          "description": ""
        }
      }
    },
    "/v1/clients/{id}/message_threads": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the client you want to get message threads for."
        }
      ],
      "get": {
        "summary": "Get All Message Threads for a Client",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MessageThreadResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-clients-id-message-threads",
        "description": "Get all message threads associated with a specific client.",
        "parameters": []
      }
    },
    "/v1/message_threads/{id}/messages": {
      "post": {
        "summary": "Create a Message on a Message Thread",
        "operationId": "post-v1-message-threads-messages",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual message on a message thread.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The ID of the message thread to create a message for."
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "MessageRequest": {
        "title": "MessageRequest",
        "x-stoplight": {
          "id": "zxnjjlxepihlw"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "sender": {
            "type": "object",
            "description": "The Staff member or Contact who sent the message.",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "body": {
            "type": "string",
            "description": "The body text of the message."
          }
        },
        "required": ["sender", "body"]
      },
      "MessageResponse": {
        "title": "MessageResponse",
        "x-stoplight": {
          "id": "qwvdddlyqkzo0"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "id": {
            "type": "number",
            "description": "A unique identifier for the message."
          },
          "sender": {
            "type": "object",
            "description": "The Staff member or Contact who sent the message.",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "body": {
            "type": "string",
            "description": "The body text of the message."
          },
          "message_thread": {
            "type": "object",
            "description": "The message thread that this message is associated with.",
            "properties": {
              "id": {
                "type": "integer"
              },
              "subject": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "type": "string",
            "description": "The date the message thread was created in ISO 8601 date/time format. "
          },
          "updated_at": {
            "type": "string",
            "description": "The date the message thread was updated in ISO 8601 date/time format. "
          }
        }
      },
      "MessageThreadRequest": {
        "title": "MessageThreadRequest",
        "x-stoplight": {
          "id": "93y4fppl3bnz7"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "subject": {
            "type": "string",
            "description": "The subject of the message thread."
          },
          "first_message_body": {
            "type": "string",
            "description": "The body text of the first message in the thread."
          },
          "sender": {
            "type": "object",
            "description": "The sender of the first message in this message thread.",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "client_recipients": {
            "type": "array",
            "description": "Any clients you want associated with this message thread.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "The ID of the client to associate with the message thread."
                }
              }
            }
          },
          "staff_recipients": {
            "type": "array",
            "description": "Any staff you want associated with this message thread.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "The ID of the staff to associate with the message thread."
                }
              }
            }
          }
        },
        "required": ["subject", "first_message_body"]
      },
      "MessageThreadResponse": {
        "title": "MessageThreadResponse",
        "x-stoplight": {
          "id": "nkk63oivo7mdw"
        },
        "type": "object",
        "x-internal": false,
        "description": "",
        "properties": {
          "id": {
            "type": "number",
            "description": "A unique identifier for the message thread."
          },
          "subject": {
            "type": "string",
            "description": "The subject of the message thread."
          },
          "first_message_body": {
            "type": "string",
            "description": "The body text of the first message in the thread."
          },
          "sender": {
            "type": "object",
            "description": "The sender of the first message in this message thread.",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "case": {
            "description": "The case associated with this message thread, if there is one.",
            "type": ["object", "null"],
            "properties": {
              "id": {
                "type": "number"
              }
            }
          },
          "clients": {
            "type": "array",
            "description": "Any clients associated with this message thread.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "The ID of the client."
                }
              }
            }
          },
          "staff": {
            "type": "array",
            "description": "Any staff associated with this message thread.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "The ID of the staff."
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "description": "The date the message thread was created in ISO 8601 date/time format. "
          },
          "updated_at": {
            "type": "string",
            "description": "The date the message thread was updated in ISO 8601 date/time format. "
          }
        }
      }
    },
    "headers": {
      "Cases_PaginationCount": {
        "description": "The total number of results.",
        "schema": {
          "type": "number"
        }
      },
      "Cases_PaginationLink": {
        "description": "If there is another page of results, we provides you with the cursor to the next page using `page_token`. Please reference our pagination documentation for more info.",
        "schema": {
          "type": "string"
        }
      }
    }
  }
}
