{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "g47ryw2snj6hi"
  },
  "info": {
    "title": "Notes",
    "version": "1.0",
    "description": "Notes API",
    "contact": {
      "name": "MyCase"
    }
  },
  "servers": [
    {
      "url": "https://external-integrations.mycase.com"
    }
  ],
  "paths": {
    "/v1/notes/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the note you want to view or update."
        }
      ],
      "get": {
        "summary": "Get an Individual Note",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-notes-id",
        "description": "Allows you to view a specific note, based on the authorized user/firm privileges.",
        "parameters": []
      },
      "put": {
        "summary": "Update an Individual Note",
        "operationId": "put-v1-notes-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to edit a specific note, based on the authorized user/firm privileges.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an Individual Note",
        "operationId": "delete-v1-notes-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific note, based on the authorized user/firm privileges."
      }
    },
    "/v1/cases/{id}/notes": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the case you want to get or create notes for."
        }
      ],
      "get": {
        "summary": "Get All Notes for a Case",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-cases-id-notes",
        "description": "Get all notes associated with a specific case.",
        "parameters": []
      },
      "post": {
        "summary": "Create a Note for a Case",
        "operationId": "post-v1-cases-id-notes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteResponse"
                }
              }
            }
          }
        },
        "description": "Create a note for a specified case.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteRequest"
              }
            }
          }
        }
      }
    },
    "/v1/clients/{id}/notes": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the client you want to get or create notes for."
        }
      ],
      "get": {
        "summary": "Get All Notes for a Client",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-clients-id-notes",
        "description": "Get all notes associated with a specific client.",
        "parameters": []
      },
      "post": {
        "summary": "Create a Note for a Client",
        "operationId": "post-v1-clients-id-notes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteResponse"
                }
              }
            }
          }
        },
        "description": "Create a note for a specified client.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteRequest"
              }
            }
          }
        }
      }
    },
    "/v1/companies/{id}/notes": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the company you want to get or create notes for."
        }
      ],
      "post": {
        "summary": "Create a Note for a Company",
        "operationId": "post-v1-companies-id-notes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteResponse"
                }
              }
            }
          }
        },
        "description": "Create a note for a specified company.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NoteRequest": {
        "title": "NoteRequest",
        "x-stoplight": {
          "id": "vxiu832r2mm31"
        },
        "type": "object",
        "x-internal": false,
        "description": "",
        "properties": {
          "subject": {
            "type": "string",
            "description": "Subject of the note."
          },
          "note": {
            "type": "string",
            "description": "The body text of the note."
          },
          "date": {
            "type": "string",
            "description": "The date of the note in ISO 8601 date/time format."
          }
        },
        "required": ["subject", "note", "date"]
      },
      "NoteResponse": {
        "title": "NoteResponse",
        "x-stoplight": {
          "id": "n6peobm36pnv7"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "id": {
            "type": "number",
            "description": "A unique identifier for the note."
          },
          "subject": {
            "type": "string",
            "description": "Subject of the note."
          },
          "note": {
            "type": "string",
            "description": "The body text of the note."
          },
          "archived": {
            "type": "boolean",
            "description": "Whether or not the note is archived."
          },
          "date": {
            "type": ["string", "null"],
            "description": "The date of the note."
          },
          "client": {
            "description": "The client associated with this note, if there is one.",
            "type": ["object", "null"],
            "properties": {
              "id": {
                "type": "number"
              }
            }
          },
          "company": {
            "description": "The company associated with this note, if there is one.",
            "type": ["object", "null"],
            "properties": {
              "id": {
                "type": "number"
              }
            }
          },
          "case": {
            "description": "The case associated with this note, if there is one.",
            "type": ["object", "null"],
            "properties": {
              "id": {
                "type": "number"
              }
            }
          },
          "created_by": {
            "type": "object",
            "description": "The staff member who created this note.",
            "properties": {
              "id": {
                "type": "number"
              }
            }
          },
          "updated_by": {
            "type": "object",
            "description": "The staff member who updated this note.",
            "properties": {
              "id": {
                "type": "number"
              }
            }
          },
          "created_at": {
            "type": "string",
            "description": "The date the note was created in ISO 8601 date/time format. "
          },
          "updated_at": {
            "type": "string",
            "description": "The date the note was updated in ISO 8601 date/time format. "
          }
        }
      }
    },
    "headers": {
      "Cases_PaginationCount": {
        "description": "The total number of results.",
        "schema": {
          "type": "number"
        }
      },
      "Cases_PaginationLink": {
        "description": "If there is another page of results, we provides you with the cursor to the next page using `page_token`. Please reference our pagination documentation for more info.",
        "schema": {
          "type": "string"
        }
      }
    }
  }
}
