{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "ka53k6vbua0t3"
  },
  "info": {
    "title": "Time Entries",
    "version": "1.0",
    "description": "Time Entries API",
    "contact": {
      "name": "MyCase"
    }
  },
  "servers": [
    {
      "url": "https://external-integrations.mycase.com"
    }
  ],
  "paths": {
    "/v1/time_entries": {
      "get": {
        "summary": "Get Time Entries",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Cases_PaginationLink"
              },
              "Item-Count": {
                "$ref": "#/components/headers/Cases_PaginationCount"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeEntryResponse"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-timeentries",
        "description": "Get all firm time entries viewable by the authorized user.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FilterUpdatedAfter"
          }
        ]
      },
      "post": {
        "summary": "Create a Time Entry",
        "operationId": "post-v1-timeentries",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeEntryResponse"
                }
              }
            }
          }
        },
        "description": "Create an individual time entry.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeEntryRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/v1/time_entries/{id}": {
      "get": {
        "summary": "Get an Individual Time Entry",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeEntryResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v1-timeentries-id",
        "description": "Allows you to view a specific time entry, based on the authorized user/firm privileges.",
        "parameters": []
      },
      "delete": {
        "summary": "Delete an Individual Time Entry",
        "operationId": "delete-v1-time-entries-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Allows you to delete a specific time entry, based on the authorized user/firm privileges."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the expense you want to view or update."
        }
      ]
    }
  },
  "components": {
    "parameters": {
      "FilterUpdatedAfter": {
        "title": "FilterUpdatedAfterParam",
        "name": "filter[updated_after]",
        "in": "query",
        "required": false,
        "description": "Filters the response to return only resources that are created or updated after a specified date/time. ISO 8610 date format. Results are inclusive of the date/time entered. Can include time but does not need to.",
        "schema": {
          "type": "string",
          "example": "?filter[updated_after]=2022-03-17T21:00:00Z"
        }
      },
      "PageSize": {
        "title": "PageSizeParam",
        "name": "page_size",
        "in": "query",
        "required": false,
        "schema": {
          "type": "number",
          "default": "25",
          "example": "?page_size=100",
          "maximum": 1000,
          "minimum": 1
        },
        "description": "The ability to specify the number of resources that are returned per response page."
      }
    },
    "schemas": {
      "CustomFieldValueResponse": {
        "title": "CustomFieldValueResponse",
        "x-stoplight": {
          "id": "dj7cxrww1ic2a"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "custom_field": {
            "type": "object",
            "description": "The custom field that this value is associated with. By default, this object will only be returned with an `id` field. To specify more fields to be returned, please see the `field` query parameters.",
            "properties": {
              "id": {
                "type": "integer"
              },
              "field_type": {
                "type": "string",
                "description": "The field type of the Custom Field. One of `short_text | long_text | numeric | boolean | date | list | currency`."
              }
            }
          },
          "value": {
            "description": "The value of this custom field.",
            "type": ["string", "number", "boolean"]
          },
          "created_at": {
            "type": "string",
            "description": "An ISO 8601 timestamp of when the Custom Field value was created."
          },
          "updated_at": {
            "type": "string",
            "description": "An ISO 8601 timestamp of when the Custom Field value was last updated."
          }
        }
      },
      "TimeEntryRequest": {
        "title": "TimeEntryRequest",
        "x-stoplight": {
          "id": "uhbk0yfslaxjt"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "activity_name": {
            "type": "string",
            "description": "The activity name associated with this time entry."
          },
          "description": {
            "type": "string"
          },
          "billable": {
            "description": "Whether or not this time entry is billable.",
            "type": "boolean"
          },
          "entry_date": {
            "type": "string",
            "description": "The entry date of this time entry in ISO 8601 date format."
          },
          "rate": {
            "type": "number",
            "description": "The rate in dollars associated with this time entry."
          },
          "hours": {
            "type": "number",
            "description": "The duration in hours associated with this time entry."
          },
          "flat_fee": {
            "type": "boolean",
            "description": "Whether or not this time entry is a flat fee."
          },
          "case": {
            "type": "object",
            "description": "The case associated with this time entry.",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "staff": {
            "type": "object",
            "description": "The staff member associated with this time entry.",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          }
        },
        "required": [
          "activity_name",
          "entry_date",
          "rate",
          "hours",
          "case",
          "staff"
        ]
      },
      "TimeEntryResponse": {
        "title": "TimeEntryResponse",
        "x-stoplight": {
          "id": "0dv601jetr8v0"
        },
        "type": "object",
        "x-internal": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "activity_name": {
            "type": "string",
            "description": "The activity name associated with this time entry."
          },
          "description": {
            "type": "string"
          },
          "billable": {
            "description": "Whether or not this time entry is billable.",
            "type": "boolean"
          },
          "entry_date": {
            "type": "string",
            "description": "The entry date of this time entry in ISO 8601 date format."
          },
          "rate": {
            "type": "string",
            "description": "The rate in dollars associated with this time entry."
          },
          "hours": {
            "type": "number",
            "description": "The duration in hours associated with this time entry."
          },
          "flat_fee": {
            "type": "boolean",
            "description": "Whether or not this time entry is a flat fee."
          },
          "case": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "staff": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "invoices": {
            "type": "array",
            "x-stoplight": {
              "id": "9eoa6xfewbf59"
            },
            "items": {
              "x-stoplight": {
                "id": "jmm8qad5llrwe"
              },
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "x-stoplight": {
                    "id": "52sln3970rra4"
                  }
                }
              }
            }
          },
          "custom_field_values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValueResponse"
            }
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        }
      }
    },
    "headers": {
      "Cases_PaginationCount": {
        "description": "The total number of results.",
        "schema": {
          "type": "number"
        }
      },
      "Cases_PaginationLink": {
        "description": "If there is another page of results, we provides you with the cursor to the next page using `page_token`. Please reference our pagination documentation for more info.",
        "schema": {
          "type": "string"
        }
      }
    }
  }
}
